<div class="border-bottom row" style = "margin-bottom:16px;padding-botton:10px;">
  <div class="col-10">
    <h3 style="margin-bottom:4px;">
      {{course ['name']}}
    </h3>
    <p>
      {{course ['icon']}}
    </p>
    <h5>
      {{course ['description']}}
    </h5>
  </div>
  <div class="col-2">
    <a href="mailto:abdukaremrageh.ak@gmail.com?subject=Application%20for%20{{course ['name']}}&body=My%20name%20%3D%20%3Cyour%20name%3E%0D%0AMy%20country%20%3D%20%3Cyour%20country%3E%0D%0AMy%20age%20%3D%20%3Cyour%20age%3E%0D%0A" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>